<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Quiz Game{% endblock %}</title>
</head>
<body>
	<h1>Who Wants To Be Millionaire</h1>

	{% if user.is_authenticated %}
	    <p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
	     <a href="{% url 'logout' %}">logout</a>
	{% else %}
	    <p>Welcome, new user. Please <a href="{% url 'login' %}">log in</a>.</p>
	{% endif %}

	{% block content %}
		<p>
			<a href="{% url 'start' %}">START THE GAME</a>
		</p>
	{% endblock %}

	{% block lb_link %}	
		<p>
			<a href="{% url 'leaderboard' %}">Show Leaderboard</a>
		</p>
	{% endblock %}
</body>
</html>